.App {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* font styles for global use */
.qna-heading-1 {
  font-size: 48px;
  font-weight: 600;
}
.qna-heading-2 {
  font-size: 36px;
  font-weight: 500;
}
.qna-heading-3 {
  font-size: 24px;
  /* font-weight: 500; */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.decor{
  position: fixed!important;
  transform: translateY(45%);
  z-index: -1!important;
  padding: 0 !important;
  margin: 0 !important;
}
.logo{
  max-width: fit-content;
  
}
.logSignButton{
  width: 10rem!important;
  background-color: rgba(196,196,196,15%)!important;
  border-color: rgba(196,196,196,15%)!important;
  color: black!important;
  border-radius:23px!important;
}
.logSignButton:active{
  outline-color: black!important;
  border-color: #282c34!important ;
}

.btn, .btn:focus, button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}