.one-post-wrap {
  background-color: #F6F6F6;
  border-radius: 15px;

  margin: 100px auto 100px auto;
}

/* post */
.post-wrap {
  margin: 15px 20px 0px 20px;
}
.post-top, .post-middle{
  padding: 10px 10px 0px 10px;
}
.post-date {
  font-style: italic;
  font-size: 0.9em;
}

/* comment */
.cmt-wrap {
  margin: 15px 30px 0px 50px;
}
.cmt-top, .cmt-middle {
  padding: 10px 10px 0px 10px;
}
.cmt-name {
  font-weight: 600;
}
.cmt-date{
  font-style: italic;
  font-size: 0.9em;
}



