.one-post-wrap {
  background-color: #F6F6F6;
  border-radius: 15px;
  position: absolute;
  top: 100px;
  min-height: 500px;

  /*margin: 300px auto auto auto;*/
  z-index: 10;
}

/* post */
.post-wrap {
  margin: 15px 20px 0px 20px;
}
.post-top{
  padding: 10px 10px 0px 10px;
}

.post-middle{
  padding: 10px 10px 0px 10px;
  margin-top: 5px;
  min-height: 200px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
}
.post-date {
  font-style: italic;
  font-size: 0.9em;
}

/* comment */
.cmts-wrap{
  min-height: 200px;
}
.cmt-wrap {
  margin: 15px 30px 0px 50px;
}
.cmt-top, .cmt-middle {
  padding: 10px 10px 0px 10px;
}
.cmt-name {
  font-weight: 600;
}
.cmt-date{
  font-style: italic;
  font-size: 0.9em;
}
.not-found {
  margin-top: 80px;
}

/* new comment box*/
.new-cmt-wrap {
  width: auto;
  margin: 15px 20px 0px 20px;
}
.new-cmt-input {
  width: 100%;
}
.new-cmt-text {
  height: 100px;
  border-radius: 10px;
}
.submit-button{
  margin: 0px 3px 0px 3px;
  line-height: 86px;
  border-radius: 10px;
  background-color: #003566;
}


